name: Build
on:
  push:
    branches:
      - main #빌드하고싶은 브랜치
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
         # 1 - 소스코드 복사.
      - name: Check out repository code
        uses: actions/checkout@main

        # 2 - node_modules 캐싱
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
              ${{ runner.os }}-build-
              ${{ runner.os }}-

         # 3 - 의존성 패키지 설치.
      - name: Install Dependencies 
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

        # 4 - 빌드
      - name: Build
        run: CI='false' npm run build

        # 5 - aws에 접근하기 위한 권한을 받아옵니다.
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SCRET_ACCESS_KEY }}
          aws-region: ${{secrets.AWS_DEFAULT_REGION}}

          #6 - S3에 build 파일 배포.
      - name: Deploy to S3
        run: aws s3 sync ./build s3://${{ secrets.AWS_BUCKET_NAME }} --delete

        # 7 - CloudFront 캐시 무효화.
      - name: CloudFront Invalidation
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/*"